:root {
    --color-light: #fff;
    --color-dark: #282c34;
    --color-primary: #ff5733;
    /* Default (light) theme */
    --text-color: var(--color-dark);
    --body-bg-color: var(--color-light);
}

.App {
    color: var(--text-color);
    background-color: var(--body-bg-color);
    min-height: 100vh;
    overflow: hidden;
    padding: 50px;
}

.App[data-theme="dark"] {
    --text-color: var(--color-light);
    --body-bg-color: var(--color-dark);
}

.toggle {
    width: 100px;
    background-color: #ddd;
    border: 2px solid #333;
    border-radius: 40px;
    cursor: pointer;
}

.toggle__switch {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #fff;
    transition: all 0.2s;
}

.toggle[data-position="right"] .toggle__switch {
    transform: translateX(60px);
}

h1 {
    position: relative;
    display: inline-block;
    margin-bottom: 50px;
}

h1::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background-color: var(--color-primary);
}